# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log

# dotenv environment variable files
.env

# temp directory
.temp
.tmp

*.mp4 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
