.toggle-container {
  position: relative;
  width: 75px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: right;
  margin: 5px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  width: 60px;
  height: 25px;
  background-color: #686767;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: background-color 0.5s ease;
  padding: 5px;
}

.icon {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.6s ease;
  position: absolute;
  font-size: 26px;
}

.icon.sun {
  left: 5px;
  transform: translateX(0);
}

.icon.moon {
  right: 5px;
  transform: translateX(0);
}

.icon.active {
  opacity: 1;
  transform: scale(1.2);
  transition: opacity 0.3s ease, transform 0.6s ease, left 0.6s ease,
    right 0.6s ease;
}

.sun.active {
  left: 36px;
  color: #f1c40f;
}

.moon.active {
  right: 35px;
  color: #ecbf29;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #5d5f61;
}

.toggle-checkbox:checked + .toggle-label .toggle-ball {
  transform: translateX(25px);
}
@media (max-width: 640px) {
  .toggle-container{
    padding-left: 2rem;
  }
  .toggle-label {
    width: 2.5rem;
    height: 1.2rem;
  }
  .sun.active {
    left: 18px;
    color: #f1c40f;
  }
  
  .moon.active {
    right: 15px;
    color: #ecbf29;
  }
}