  
.cont{
    width: 100%; 
    max-width: 1400px; 
    margin: 0 auto;  
}
.loader-wrapper {
  position: fixed !important;
  top: 0 ;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw !important;
  height: 100vh !important; 
  display: flex !important; 
  justify-content: center !important;
  align-items: center !important; 
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(12px) !important;
  z-index: 1000  !important; 
}

.dark .loader-wrapper {
  background: rgba(3, 7, 18, 0.7) !important;
}
  